<a [routerLink]="['/']">Retour</a>

<ng-container *ngIf="!article">
  <h1>Chargement en cours</h1>
</ng-container>

<ng-container *ngIf="article">
  <h1>La page de l'article {{ article.titre }}</h1>

  <div>{{ article.description }}</div>
</ng-container>
