<h1>La liste des articles de notre API ! </h1>


<h2 *ngIf="isLoading">
  Chargement en cours !!
</h2>


<ng-container *ngIf="!isLoading">
  <h1>Les enregistrements : </h1>

  <table class="table">
    <thead>
    <tr>
      <td>Id</td>
      <td>Nom de l'article</td>
      <td>Description de l'article</td>
      <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let article of articleList">
      <td>{{ article.id }}</td>
      <td>{{ article.titre }}</td>
      <td>{{ article.description }}</td>
      <td>
        <a [routerLink]="['/', article.id]">
         Voir en détail !
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>
